#tr1{
    background-color: aqua;
    text-align: center;
}
#caption01{
    background-color: rgb(0, 200, 255);
    text-align: center;
}
#td01{
    background-color: chocolate;
    text-align: center;
}

#td02{
    background-color: darkorange;
    text-align: center;
}

.class01{
    background-color: chartreuse;
    text-align: center;
}

#td03{
    background-color: plum;
    text-align: center;
}

#td04{
    background-color: yellow;
    text-align: center;
}